manifest.mainScript = 'QC.nf'

// Paths

/**************************************************/
/* Paths to be used for internally stored assets. */
/* Use this if you use the Singularity container  */
/* with assets included (~15 GB)                  */
/**************************************************/


env.BIND_DIR = "/assets"
env.CONTAINER = "library://jkaessens/ikmb-gwas/qc-assoc-assets.sif"


/**************************************************/
/* Paths to be used for externally stored assets  */
/* Use these if you use the Singularity container */
/* that does not include the large asset database.*/
/**************************************************/

//env.BIND_DIR = "/home/jan/Uni/nextflow-release/assets"
//env.CONTAINER = env.BIND_DIR + "/singularity/qc.sif"



env.SCRIPT_DIR = "$baseDir/bin"
env.PYTHONPATH = env.SCRIPT_DIR
env.PYLIB_DIR = "$baseDir/lib"
env.REPORT_DIR = "$baseDir/report"
env.TMPDIR = "."

profiles {
    standard {
        executor.name = "slurm"
        executor.queueSize = 150
        process.executor = "slurm"
        process.queue = "all"
    }

    local {
        executor.name = "local"
        process.executor = "local"
    }
}
