// Config 

// Annotation directory
ANNOTATION_DIR = "/home/jkaessens/Projects/gwas-pipeline/PoAtools_2/annotation"
BATCH_DIR = "/home/jkaessens/Projects/gwas-pipeline/immunochip_batches"

SCRIPT_DIR =  "/home/jkaessens/Projects/gwas-pipeline/PoAtools_2/sources"

// Plink executable
PLINK = "/home/jkaessens/Projects/gwas-pipeline/software/plink-1.90/plink"
//PLINK = "/usr/bin/p-link"

params.hwe_template = "/home/jkaessens/Projects/gwas-pipeline/nextflow-pipelines/templates/template_HWE_European_omni.R"
