// Config 

env {
// Annotation directory
ANNOTATION_DIR = "/home/sukmb388/PoAtools_2/annotation"
//BATCH_DIR = "/home/sukmb388/immunochip_batches"
BATCH_DIR = "/home/sukmb388/GSA_batches"
SCRIPT_DIR =  "/home/sukmb388/PoAtools_2/sources"
}

params.hwe_template = "templates/template_HWE_European_omni.R"
params.geno_entire_collection = 0.02
params.geno_batch = 0.10
params.FDR_index_remove_variants=4

