
// Job paramaters to set for this environment

params.outdir = "output" 


// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
  queue = 'test'
  memory = { 8.GB * task.attempt }
  cpus = { 4 }
  time = { 30.min }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  // Specific cluster parameters for each process




}

