
// Job paramaters to set for this environment

params.outdir = "output" 


// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {

  // Global cluster parameters
  executor = 'slurm'
//  queue = 'express'
//  queue = 'ikmb_a'
    queue = 'medium'
//  clusterOptions = { '--qos=ikmb_a' }
//  queue = 'test'
  memory = { 4.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 1.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
 
  container = '/home/sukmb388/qc.img'
//  module load 'IKMB'
//  module load 'singularity2.3'
}

singularity {
    enabled = true
    runOptions = "-B /work_zfs/sukmb388:/work_zfs/sukmb388 -S /scratch -p"
//    runOptions = "-B /home/jan/Uni/Arbeit/projects/pipelines/:/home/sukmb388/"
}



