// Resource manager settings

executor {
  name="slurm"
  queueSize=50
}

// Process setting

process {
  // Global cluster parameters
  executor = 'slurm'
  queue = 'ikmb_a'
  clusterOptions = { '--qos=ikmb_a' }
  memory = { 4.GB * task.attempt }
  cpus = { 1 * task.attempt }
  time = { 1.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
  container = '/home/sukmb388/nextflow-pipelines/singularity/qc.img'
}

singularity {
  enabled = true
  runOptions = "-B /work_zfs/sukmb388:/work_zfs/sukmb388 -S /scratch -p"
}

process.$generate_hwe_diagrams.cpus = "1"
process.$generate_hwe_diagrams.memory = "6144 MB"
process.$calculate_hwe.memory = "512 MB"

process.$determine_miss_het.cpus = "4"
process.$prune.time = "3 h"
process.$calc_imiss_IBS.memory = "3 GB"

process.$flashpca2_pruned.cpus = "2"
process.$flashpca2_pruned.memory = "6 GB"
process.$flashpca2_pruned_1kG.cpus = "2"
process.$flashpca2_pruned_1kG.memory = "6 GB"

process.$pca_without_projection.cpus = "8"
process.$calc_imiss_IBS_wr.memory = "3 GB"

process.$flashpca_pruned.cpus = "8"
process.$flashpca_pruned.memory = "8 GB"
process.$flashpca_pruned.time = "3 h"
process.$merge_pruned_with_1kg.memory = "6 GB"
process.$flashpca_1kg.cpus = "8"
process.$flashpca_1kg.memory = "8 GB"
process.$flashpca_1kg.time = "3 h"
process.$eigenstrat_run.cpus = "4"
