// Config 

env {
// Annotation directory
ANNOTATION_DIR = "/home/sukmb388/PoAtools_2/annotation"
BATCH_DIR = "/home/sukmb388/immunochip_batches"
SCRIPT_DIR =  "/home/sukmb388/PoAtools_2/sources"
PYLIB_DIR = "/home/sukmb388/PoAtools_2/lib"
PYTHONPATH = "/home/sukmb388/nextflow-pipelines/bin"
POATOOLS_DIR = "/home/sukmb388/PoAtools_2"
BATCH_DIR = "/home/sukmb388/immunochip_batches"
}

params {
/*
# option 1: in case n_samples < 50,000
#   set program_for_second_PCA:	EIGENSTRAT
#   i.e. run second PCA (Eigenstrat) with projecting on all control samples WITH detection of outliers
# option 2: in case n_samples > 50,000
#   set program_for_second_PCA:	FLASHPCA2
#   i.e. run second PCA (SNPRelate package, much faster than Eigenstrat) with projecting on all control samples WITHOUT detection of outliers
*/
program_for_second_PCA = "FLASHPCA2"
// Tracy-Widom table
//twtable = "/home/sukmb113/progs/EIG4.2/src/smarttables/twtable"
twtable = "/opt/eigensoft-6.1.4/POPGEN/twtable"
mind = 0.02
geno_batch = 0.10
ibs_maf = 0.05

preQCIMDS_HapMap2 = env.ANNOTATION_DIR + "/hg19/preQCIMDS_HapMap2/hapmap_CEU_JPT_CHB_YRI_r23a_filtered"
preQCIMDS_HapMap2_CEU = env.ANNOTATION_DIR + "/hg19/preQCIMDS_HapMap2/hapmap_CEU_r23a_filtered"
preQCIMDS_1kG = env.ANNOTATION_DIR + "/hg19/preQCIMDS_1kG/1kG"
preQCIMDS_1kG_sample = env.ANNOTATION_DIR + "/hg19/preQCIMDS_1kG/1000GP_Phase3.sample"

max_ibd_threshold_relatives = 0.1875
max_ibd_threshold_duplicates = 0.8
pca_convert_program = "convertf"
pca_main_program = "smartpca.perl.DE"
numof_pc = 10
numof_threads = 1
}
