// -*- mode:groovy -*-
// Exporting section set_CVIDv2...
params {
  disease_names = "CVIDv2"
  batch_mode = "True"
  QQplot_null_variants = "SNPS_FOR_GIF_250913.txt"
  projection_on_populations_controls = "CVIDv2_projection_on_control_populations.txt"
  hf_test_CON_only = "True"
  disease_data_set_prefix_rs = "CVID_Ichip-orig_DvH-Opti_v2_rs"
  batches_names = "CVIDDE1,CVIDDE2,CVIDNO2,CVIDSE1,CVIDUS1,BSPSPC,POPCOF,GCON,HCBD,HCBN,HCBonn,HCKORA,HCKora2,EIRAHC,HCNO,HCNO1,PSUSHC"
  PCA_SNPexcludeList = "nofileexists"
  individuals_annotation = "CVID-HC_individuals_Ichip_annotation_v2.txt"
  chip_version = "Immunochip"
  disease_data_set_dir_release = "QCed"
  disease_data_set_prefix_release = "CVIDv2_QCed"
  individuals_remove_manually = "nothing.txt"
  collection_name = "CVIDv2"
  diagnoses = "CVID,Control"
  individuals_annotation_cases_controls_hapmap2 = "CVID-HC_individuals_Ichip_annotation_v2_cases_controls_hapmap2.txt"
  chip_producer = "Illumina"
  projection_on_populations_hapmap = "projection_on_HapMap2_populations.txt"
  individuals_annotation_hapmap2 = "CVID-HC_individuals_Ichip_annotation_v2_hapmap2.txt"
  chip_build = "hg19"
  disease_data_set_prefix_QC = "CVID_Ichip-orig_DvH-Opti_v2_QC"

  geno_entire_collection = 0.03
  geno_batch = 0.10
  FDR_index_remove_variants=5
}
