// -*- mode:groovy -*-
// Exporting section set_DKTNF_POPGEN_GS...
params {
  disease_data_set_prefix_release = "DKTNF_POPGEN_GS_QCed"
  collection_name = "DKTNF_POPGEN_GS"
  batch_mode = "True"
  numofPCs = "10"
  QQplot_SNPexcludeList = "IBD_238knownLoci_woMHC_PMID26192919_CrossDisease_assoc_boundaries.txt"
  hf_test_CON_only = "True"
  disease_data_set_dir_release = "QCed"
  disease_data_set_prefix_QC = "DKTNF_POPGEN_GS_QC"
  chip_build = "hg19"
  QQplot_null_variants = "v1_exomearray_ld_pruned_chr_position.txt"
  projection_on_populations_controls = "DKTNF_POPGEN_GS_projection_on_control_populations.txt"
  individuals_remove_manually = "nothing.txt"
  trait_name = "TestCase"
  PCA_SNPList = "nofileexists"
  chip_producer = "Illumina"
  diagnoses = "Case,Control"
  individuals_annotation_cases_controls_hapmap2 = "DKTNF_POPGEN_GS_individuals_annotation_cases_controls_hapmap2.txt"
  disease_data_set_prefix_rs = "DKTNF_rs,POPGEN_rs"
  Imputation_SNPexcludeList = "NOTHING_variant.exclude-list.txt"
  disease_names = "DKTNF_GS,POPGEN_GS"
  projection_on_populations_hapmap = "projection_on_HapMap2_populations.txt"
  path_project_collections_env = "GSAARRAYCOLLECTIONS"
  batches_names = "PSADKTNF,PSDKTNF,RADKTNF,HCPOPGEN"
  PCA_SNPexcludeList = "DKTNF_POPGEN_GS_PCASNPexcludeList.txt"
  chip_version = "GSAarrayv1"
  path_project_snpchip_data_env = "GSAARRAYBATCHES"
  Multiallelic_SNPexcludeList = "CD_GER_QCed.imputed.rmw.rsq0.5.chr1-22-merge.missnp.multi-allelicSNVs.txt"
  individuals_annotation = "DKTNF_POPGEN_GS_individuals_annotation.txt"
  individuals_annotation_hapmap2 = "DKTNF_POPGEN_GS_individuals_annotation_hapmap2.txt"
}
