// -*- mode:groovy -*-
// Original configuration item: set_CVIDv2_rs

params {
  chip_strand_info = "Immunochip_orig_annotation"
  chip_producer = "Illumina"
  disease_data_set_prefix_rs = "CVID_Ichip-orig_DvH-Opti_v2_rs"
  chip_build = "hg18"
  chip_version = "Immunochip"
  disease_data_set_prefix_orig = "CVID_Ichip-orig_DvH-Opti_v2"
  disease_names = "CVIDv2"
  switch_to_chip_build = "hg19"
}