// -*- mode:groovy -*-
// Exporting section set_POPGEN_GS_rs...
params {
  switch_to_chip_build = "hg19"
  chip_version = "GSAarrayv1"
  disease_data_set_prefix_orig = "POPGEN"
  chip_producer = "Illumina"
  chip_strand_info = "GSAarrayv1_orig_annotation"
  disease_data_set_prefix_rs = "POPGEN_rs"
  chip_build = "hg19"
  disease_names = "POPGEN_GS"
}
