// -*- mode:groovy -*-
// Exporting section set_DKTNF_GS_rs...
params {
  chip_version = "GSAarrayv1"
  chip_producer = "Illumina"
  disease_data_set_prefix_orig = "DKTNF"
  chip_build = "hg19"
  chip_strand_info = "GSAarrayv1_orig_annotation"
  disease_data_set_prefix_rs = "DKTNF_rs"
  disease_names = "DKTNF_GS"
  switch_to_chip_build = "hg19"
}
