
// Job paramaters to set for this environment

params.outdir = "output" 


singularity {
    enabled = true
    runOptions = "-B /home/jan/Uni/Arbeit/projects/pipelines/:/home/sukmb388/"
}

// Resource manager settings
//executor {
//  name="slurm"
//  queueSize=50
//}

// Process setting

process {
  container = '/home/jan/Uni/Arbeit/nextflow-pipelines/singularity/qc.img'
  executor = 'local'
  // Global cluster parameters
//  executor = 'slurm'
//  queue = 'ikmb_a'
//  clusterOptions = { '--qos=ikmb_a' }
//  queue = 'test'
//    memory = { 4.GB * task.attempt }
    cpus = { 1 * task.attempt }
    time = { 1.h * task.attempt }
  errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'

}


