
// Must be the top-level directory for all the other data stores,
// will be mounted into the singularity container.
env {
// BIND_DIR should point to the root directory of the data store.
// It is als
//BIND_DIR = "/home/jan/Uni/Arbeit/gwas-pipeline/tutorial_files"
BIND_DIR = "/home/sukmb388/david/gwas-pipeline/tutorial_files"
CONTAINER = "/home/sukmb388/david/gwas-pipeline/nextflow-pipelines/singularity/qc.img"

// PoAtools setup
POATOOLS_DIR = "${env.BIND_DIR}/PoAtools_2"
ANNOTATION_DIR = "${env.POATOOLS_DIR}/annotation"
SCRIPT_DIR = "${env.POATOOLS_DIR}/sources"
BATCH_DIR = "${env.BIND_DIR}/batches"
PYLIB_DIR = "${env.POATOOLS_DIR}/lib"
PYTHONPATH = "/home/sukmb388/david/gwas-pipeline/nextflow-pipelines/bin"
}

singularity {
    enabled = true
    
    // bind data store into container (-B), then attach SLURM_SCRATCH (-S)
    // and isolate process ID namespace from host (-p) to make Rserve work
    runOptions = "-B ${env.BIND_DIR}:/home/sukmb388 -S /scratch -p"
}


// no Rs config

// SNP_QCI
params.hwe_template = "templates/template_HWE_European_omni.R"
params.geno_entire_collection = 0.02
params.geno_batch = 0.10
params.FDR_index_remove_variants=4

params {
  disease_names = "DKTNF_GS,POPGEN_GS"
  disease_data_set_prefix_release = "DKTNF_POPGEN_GS_QCed"
  collection_name = "DKTNF_POPGEN_GS"
  batch_mode = "True"
  numofPCs = "10"
  QQplot_SNPexcludeList = "IBD_238knownLoci_woMHC_PMID26192919_CrossDisease_assoc_boundaries.txt"
  hf_test_CON_only = "True"
  disease_data_set_dir_release = "QCed"
  disease_data_set_prefix_QC = "DKTNF_POPGEN_GS_QC"
  chip_build = "hg19"
  QQplot_null_variants = "v1_exomearray_ld_pruned_chr_position.txt"
  projection_on_populations_controls = "DKTNF_POPGEN_GS_projection_on_control_populations.txt"
  individuals_remove_manually = "nothing.txt"
  trait_name = "TestCase"
  PCA_SNPList = "nofileexists"
  chip_producer = "Illumina"
  diagnoses = "Case,Control"
  individuals_annotation_cases_controls_hapmap2 = "DKTNF_POPGEN_GS_individuals_annotation_cases_controls_hapmap2.txt"
  disease_data_set_prefix_rs = "DKTNF_rs,POPGEN_rs"
  Imputation_SNPexcludeList = "NOTHING_variant.exclude-list.txt"
  
  projection_on_populations_hapmap = "projection_on_HapMap2_populations.txt"
  path_project_collections_env = "GSAARRAYCOLLECTIONS"
  batches_names = "PSADKTNF,PSDKTNF,RADKTNF,HCPOPGEN"
  PCA_SNPexcludeList = "DKTNF_POPGEN_GS_PCASNPexcludeList.txt"
  chip_version = "GSAarrayv1"
  path_project_snpchip_data_env = "GSAARRAYBATCHES"
  Multiallelic_SNPexcludeList = "CD_GER_QCed.imputed.rmw.rsq0.5.chr1-22-merge.missnp.multi-allelicSNVs.txt"
  individuals_annotation = "DKTNF_POPGEN_GS_individuals_annotation.txt"
  individuals_annotation_hapmap2 = "DKTNF_POPGEN_GS_individuals_annotation_hapmap2.txt"
  
  // SampleQCI options
  twtable = "/opt/eigensoft-4.2/src/smarttables/twtable"
  program_for_second_PCA = "FLASHPCA2"
  max_ibd_threshold_relatives = 0.1875
  max_ibd_threshold_duplicates = 0.8
  pca_convert_program = "convertf"
  pca_main_program = "smartpca.perl.DE"
  numof_pc = 10
  numof_threads = 1
  mind = 0.02
  geno_batch = 0.10
  ibs_maf = 0.05
  preQCIMDS_HapMap2 = env.ANNOTATION_DIR + "/hg19/preQCIMDS_HapMap2/hapmap_CEU_JPT_CHB_YRI_r23a_filtered"
  preQCIMDS_HapMap2_CEU = env.ANNOTATION_DIR + "/hg19/preQCIMDS_HapMap2/hapmap_CEU_r23a_filtered"
  preQCIMDS_1kG = env.ANNOTATION_DIR + "/hg19/preQCIMDS_1kG/1kG"
  preQCIMDS_1kG_sample = env.ANNOTATION_DIR + "/hg19/preQCIMDS_1kG/1000GP_Phase3.sample"

  // SNPQCII options
  maf_thresh = 0.001
  test_missing_thresh = 1e-15
  
  // Stats options

}
