// -*- mode:groovy -*-

/*
 * This file configures how the pipeline behaves with respect to a specific
 * dataset.
 */


// Must be the top-level directory for all the other data stores,
// will be mounted into the singularity container.
env {
// BIND_DIR should point to the root directory of the data store.
// It is als
//BIND_DIR = "/home/jan/Uni/Arbeit/gwas-pipeline/tutorial_files"
BIND_DIR = "/home/jan/Uni/Arbeit/gwas-pipeline/tutorial_files"
CONTAINER = "/home/jan/Uni/Arbeit/gwas-pipeline/nextflow-pipelines/singularity/qc.img"

// PoAtools setup
POATOOLS_DIR = "${env.BIND_DIR}/PoAtools_2"
ANNOTATION_DIR = "${env.POATOOLS_DIR}/annotation"
SCRIPT_DIR = "${env.POATOOLS_DIR}/sources"
BATCH_DIR = "${env.BIND_DIR}/batches"
IMPUTATION_DIR = "${env.BIND_DIR}/HRC1.1_imputation"
PYLIB_DIR = "${env.POATOOLS_DIR}/lib"
PYTHONPATH = "/home/jan/Uni/Arbeit/gwas-pipeline/nextflow-pipelines/bin"
}


singularity {
    enabled = true
    
    // bind data store into container (-B), then attach SLURM_SCRATCH (-S)
    // and isolate process ID namespace from host (-p) to make Rserve work
    runOptions = "-B ${env.BIND_DIR}:/home/sukmb388 -S /scratch -p"
}

process.container = env.CONTAINER

params {
  first_chr = 22
  last_chr = 22

  // Exporting section set_PSDKTNF_antiTNF_ResponseANDNonResponseVsControls_GS...
  collection_name = "DKTNF_POPGEN_GS"
  individuals_annotation_hapmap2 = "DKTNF_POPGEN_GS_individuals_annotation_hapmap2.txt"
  disease_data_set_prefix_QC = "DKTNF_POPGEN_GS_QC"
  projection_on_populations_hapmap = "projection_on_HapMap2_populations.txt"
  Imputation_SNPexcludeList = "NOTHING_Imputation_SNPexcludeList.txt"
  batches_names = "PSADKTNF,PSDKTNF,RADKTNF,HCPOPGEN"
  disease_data_set_suffix_release_imputed = "INFO0.4.vcf"
  numofPCs = "3"
  QQplot_null_variants = "DKTNF_POPGEN_GS_SNPQCII_pruned.bim.rs"
  individuals_annotation = "DKTNF_POPGEN_GS_individuals_annotation.txt"
  PCA_SNPexcludeList = "DKTNF_POPGEN_GS_PCASNPexcludeList.txt"
  individuals_remove_manually = ""
  batch_mode = "True"
  QQplot_SNPexcludeList = "PS_63knownLoci_88signals_PMID28537254_assoc_boundaries.txt"
  disease_data_set_prefix_release = "DKTNF_POPGEN_GS_QCed"
  disease_data_set_suffix_release_imputed_file_regions = "GSAarrayv1.hg19.chr1-26.imputed_file_regions.txt"
  trait_name = "PSDKTNF_antiTNF_ResponseANDNonResponseVsControls"
  chip_build = "hg19"
  PCA_SNPList = ""
  chip_version = "GSAarrayv1"
  path_project_snpchip_data_env = "GSAARRAYBATCHES"
  disease_data_set_prefix_rs = "DKTNF_rs,POPGEN_rs"
  chip_producer = "Illumina"
  projection_on_populations_controls = "DKTNF_POPGEN_GS_projection_on_control_populations.txt"
  disease_names = "DKTNF_GS,POPGEN_GS"
  Multiallelic_SNPexcludeList = "PSDKTNF_POPGEN_GS_QCed_rel1_without_relatives.imputed.rsq0.4.chr1-22.tmp-merge.missnp"
  disease_data_set_prefix_release_statistics = "PSDKTNF_antiTNF_ResponseANDNonResponseVsControls_GS_QCed_rel1_without_relatives"
  disease_data_set_dir_release = "QCed"
  individuals_annotation_cases_controls_hapmap2 = "DKTNF_POPGEN_GS_individuals_annotation_cases_controls_hapmap2.txt"
  hf_test_CON_only = "True"
  path_project_collections_env = "GSAARRAYCOLLECTIONS"

  // Exporting section mod_Immunochip_PLINK_HRC1.1_plots...

  gwascatalog = ""
  ldwindowr2 = "0"
  geno_batch = "0.10"
  clumpkb = "250"
  ldwindow = "99999"
  numoftophits = "2000"
  clumpp2 = "0.05"
  test_missing_thresh = "1e-5"
  vcf_min_gp = "0.90"
  ldwindowkb = "125"
  geno_entire_collection = "0.02"
  build = "37"
  clumpp1 = "0.001"
  clumpr2 = "0.8"
  maf = "0.0"
  Immunochip_PLINK_HRC1_1_plots_main_program = ""
}
